body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}
#hello {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2ch;
}
.modal{
  position: absolute;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(221, 225, 250, 0.9);
  top: 0;
  transition: top 2s cubic-bezier(0.19, 1, 0.22, 1);
}
.modal--hidden {
  top: -200%;
}
.modal__content {
  margin: 0 auto;
  max-width: 7in;
}
#modal__close {
  display: flex;
  justify-content: end;
  width: 100%;
}
.button_close, .button_open{
  display: inline-block;
  width: 2.2ch;
  height: 1.2em;
  border-radius: 50%;
  background: red;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0 1ch;
  cursor: pointer;
}
.button_open {
  background: green;
}
#modal__open , #modal__close{
  cursor: pointer;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1ch;
}

.app__top {
  width: 100%;
  display: flex;
}
#memeURL {
  flex-grow: 1;
}
.app__right{
  margin-left: 2ch;
  flex-grow: 1;
}


#template_chooser {
  display: flex;
  align-items: center;
  justify-content: center;
}

#template_chooser__template {
  max-width: 600px;
  max-height: 8in;
}

.template_chooser__button {
  color: white;
  cursor: pointer;
  height: 100%;
  width: 2ch;
  background: dimgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.halfbutton--left{
  border-radius: 1ch 0 0 1ch;
}
.halfbutton--right{
  border-radius: 0 1ch 1ch 0;
  overflow: hidden;
}

.textInputContainer {
  margin: .5rem;
}
.textInput {
  width: 100%;
}
.textInput__default {
  font-size: .8rem;
}

.txt--blue {
  color: blue;
}
.txt--gold {
  color: goldenrod;
}
